<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/form.js"></script>
  </head>
  <body>
    <main>
      <h1>Log into</h1>
      <div id="time"></div>
      <form action="/users" method="post">
        <input type="text" name="user" />
        <button type="submit">Submit</button>
      </form>
      <nav>
        <ul>
          <li><a href="/">Index</a></li>
          <li><a href="/users">Users</a></li>
        </ul>
      </nav>
    </main>
  </body>
</html>
